.player-strip-wrapper {
  width: 100%;
  max-width: 500px;  /* Increase the maximum width */
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.board-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chessboard {
  width: 100%;
  max-width: 500px;  /* Increase the chessboard size */
  height: 500px;     /* Increase the chessboard size */
}

.move-list-wrapper {
  max-height: 500px;  /* Matches the chessboard height */
  overflow-y: auto;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;
}

.move-list-header {
  height: 50px;
}

.move-pair {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.white-move,
.black-move {
  flex-basis: 45%;
  text-align: left;
}

.black-move {
  text-align: right;
}
