<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ChessMaster</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" *ngIf="isAuthenticated">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/upload" *ngIf="isAuthenticated">Upload Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/analyze" *ngIf="isAuthenticated">Analyze Game</a>
        </li>
      </ul>

      <!-- Right-aligned menu -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet> <!-- This is where the routed views are displayed -->
</div>
